.dot-c {
  height: 10px;
  width: 10px;
  background-color: #e8f086!important;
  border-radius: 50%;
  display: inline-block;

}
.dot-h {
  height: 10px;
  width: 10px;
  background-color: #6fde6e!important;
  border-radius: 50%;
  display: inline-block;

}
.dot-o {
  height: 10px;
  width: 10px;
  background-color: #ff4242!important;
  border-radius: 50%;
  display: inline-block;

}
.dot-om {
  height: 10px;
  width: 10px;
  background-color: #235fa4!important;
  border-radius: 50%;
  display: inline-block;

}
.dot-n {
  height: 10px;
  width: 10px;
  background-color: #262626!important;
  border-radius: 50%;
  display: inline-block;

}
  ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
