@font-face {
    font-family: "OpenDyslexic";
    src: url("C:/Users/ameli/Desktop/INST-760/OpenDyslexic-Regular.otf");
}

body {
  font-family: "OpenDyslexic"!important;
}

#continentToggle {
  font-family: "OpenDyslexic"!important;
}

#modalText {
  font-family: "OpenDyslexic"!important;
}


.dinoselect {
  font-family: "OpenDyslexic"!important;
}

.type {
  font-family: "OpenDyslexic"!important;
  font-size: 15px!important;
}
